#sidebar
{
  height: 100%;
  width: 180px;
  min-height:100vh;
background-color: #BDB76B;
}

.list-group-item{
  color: blue;
  background-color: #FF7F50;
  border-color: blue;
  border: 0,5px;
  margin: 2px
}

.colorTexto{
   color:#A04000 ;
}
